.category-item {
  transition: 0.3s;
}
.category-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.category-item:hover p {
  color: #2874f0;
}
.category-item img {
  transition: 0.3s;
}
.category-item:hover img {
  transform: scale(1.05);
}
.category-scroll {
  overflow-x: hidden;
}
.card {
  overflow: visible !important;
}
.category-scroll {
  overflow-x: hidden;
  overflow-y: visible !important;
}
.row.flex-nowrap {
  overflow: visible !important;
}
.dropdown-css{
  position: static !important;
}
.card,
.card-body {
  overflow: visible !important;
}
.deals-scroll {
  overflow-x: hidden;
}
.deals-container {
  overflow: hidden;
}

.deals-scroll {
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.deals-scroll::-webkit-scrollbar {
  display: none;
}
.scroll-btn {
  position: absolute;
  top: 40%;
  right: 0;
  transform: translateY(-50%);
  width: 45px;
  height: 70px;
  border: none;
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.navbar .container {
  gap: 40px;
}
.navbar form.flex-grow-1 {
  margin-left: 40px;
  margin-right: 40px;
}
.navbar .btn-light {
  padding: 8px 40px !important;
  font-weight: 600;
  border-radius: 2px;
}
.scroll-btn i {
  font-size: 22px;
}

@media (max-width: 768px) {
  .category-scroll {
    overflow-x: auto;
  }
  .deals-scroll {
    overflow-x: auto;
  }
}
